<div class="card-mini" id="candidate_<%=candidate.id%>">
  <%= cl_image_tag candidate.photo.key, class: "card-mini__img" %>
  <span class="card-mini__overlay"></span>
  <div class="card-mini__info">
    <h2 class="text card-mini__name"><%= candidate.candidate_ballot_name %></h2>
    <div class="card-mini__options">
      <div class="card-mini__links">
        <%= link_to candidate_path(candidate) do %>
          <i class="fas fa-address-card"></i>
        <% end %>
        <%= link_to favorite_path(candidate.favorites.find_by(user: current_user)),
          method: :delete,
          remote: true,
          class: "favorite favorite--profile" do %>
            <i class="fas fa-heart red"></i>
        <% end %>
      </div>
      <h2 class="card-mini__candidate-number title"><%= candidate.nr_candidate %></h2>
    </div>
  </div>
</div>