<nav class="navbar">
  <%= link_to root_path, class: "navbar__logo" do %>
    <h2 class="heading-2">Palanque</h2>
  <% end %>
  <ul class="navbar__menu">
    <% if user_signed_in? %>
      <li class="navbar__menu_item">
         <%= link_to root_path, class: "navbar__menu_link" do %>
          <i class="fas fa-home"></i>
          Home
        <%end  %>
      </li>
      <li class="navbar__menu_dropdown">
        <button class="navbar__menu_toggler">
          <i class="far fa-user"></i> Olá, Pessoa<i class="fas fa-caret-down"></i>
        </button>
        <ul class="navbar__menu_options px-sm py-sm" aria-labelledby="navbarDropdown">
          <li class="navbar__menu_options__item">
            <%= link_to "Perfil", "#", class: "navbar__menu_options__link" %>
          </li>
          <li class="navbar__menu_options__item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar__menu_options__link" %>
          </li>
        </ul>
      </li>
    <% else %>
     <li class="navbar__menu_item">
        <%= link_to root_path, class: "navbar__menu_link" do %>
          <i class="fas fa-home"></i>
          Home
        <%end  %>
      </li>
      <li class="navbar__menu_item">
        <%= link_to new_user_session_path, class: "navbar__menu_link" do %>
          <i class="far fa-user"></i>
          Logar
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
