<h1><%= @candidate.candidate_ballot_name %></h1>
<p>@candidate</p>
<ul>
    <li><%=@candidate.sq_candidate%>sq_candidate</li>
  <li><%=@candidate.nr_candidate%>nr_candidate</li>
  <li><%=@candidate.name_candidate%>name_candidate</li>
  <li><%=@candidate.party_candidate%>party_candidate</li>
  <li><%=@candidate.nr_party%>nr_party</li>
  <li><%=@candidate.total_patrimony%>total_patrimony</li>
  <li><%=@candidate.ds_coligation_composition%>ds_coligation_composition</li>
  <li><%=@candidate.ds_nacionality%>ds_nacionality</li>
  <li><%=@candidate.birth_dt%>birth_dt</li>
  <li><%=@candidate.ds_gender%>ds_gender</li>
  <li><%=@candidate.ds_marital_status%>ds_marital_status</li>
  <li><%=@candidate.ds_color_race%>ds_color_race</li>
  <li><%=@candidate.ds_ocupation%>ds_ocupation</li>
    <li><%=@candidate.militancy%>militancy</li>
        <li><%=@candidate.acting_region%>acting_region</li>
        <li><%=@candidate.email_candidate%>e-mail</li>
        <li><%=@candidate.running_to%>running to </li>



</ul>

