<div class="politician mt-lg">
  <%= link_to root_path, class: "go-back" do %>
    <i class="fas fa-angle-left"></i><p class="text">Voltar</p>
  <% end %>
  <div class="politician__profile">
    <%= render partial: "shared/favorite" %>
    <%= cl_image_tag @candidate.photo.key, width: 240, height: 240, crop: :fill, :class => "politician__profile_img" %>
    <div class="politician__profile_container">
      <h2 class="title profile__name">
        <%= @candidate.candidate_ballot_name %>
      </h2>
      <p class="text profile__running">
        <%= @candidate.running_to %>
      </p>
      <h2 class="heading-2 profile__number">
          <%= @candidate.nr_candidate %>
      </h2>
      <div class="politician__table mt-sm">
        <div class="politician__table_item">
          <small class="text-small">Partido</small>
          <small class="text-small"><%= @candidate.party_candidate %></small>
        </div>
        <div class="politician__table_item">
          <small class="text-small">Coligação</small>
          <small class="text-small"><%= @candidate.ds_coligation_composition %></small>
        </div>
      </div>
    </div>
  </div>
  <div class="politician__personal">
    <h1 class="title politician__personal_header">Dados Pessoais</h1>
    <div class="politician__table mt-sm">
      <div class="politician__table_item">
        <small class="text">Nome Completo</small>
        <small class="text"><%= @candidate.name_candidate %></small>
      </div>
      <div class="politician__table_item">
        <small class="text">Data Nascimento</small>
        <small class="text"><%= @candidate.birth_dt %></small>
      </div>
    </div>
    <div class="politician__table mt-sm">
      <div class="politician__table_item">
        <small class="text">E-mail</small>
        <small class="text"><%= @candidate.email_candidate %></small>
      </div>
      <div class="politician__table_item">
        <small class="text">Estado Civil</small>
        <small class="text"><%= @candidate.ds_marital_status %></small>
      </div>
    </div>
    <div class="politician__table mt-sm">
      <div class="politician__table_item">
        <small class="text">Nacionalidade</small>
        <small class="text"><%= @candidate.ds_nacionality %></small>
      </div>
      <div class="politician__table_item">
        <small class="text">Genero</small>
        <small class="text"><%= @candidate.ds_gender %></small>
      </div>
    </div>
    <div class="politician__table mt-sm">
      <div class="politician__table_item">
        <small class="text">Ocupação</small>
        <small class="text"><%= @candidate.ds_ocupation %></small>
      </div>
      <div class="politician__table_item">
        <small class="text"m>Grau de Instrução</small>
        <small class="text"><%= @candidate.education %></small>
      </div>
    </div>
  </div>
  <div class="politician__badges">
    <h2 class="heading-2">Em breve!</h2>
  </div>
  <div class="politician__financial">
    <h2 class="politician__financial_title title">Análise de extrato</h2>
    <small class="text-small politician__financial_total">Total bens declarados</small>
    <h1 class="heading-1 politician__financial_number">
      <%= number_to_currency(@candidate.total_patrimony.to_f, :unit => "R$ ", :separator => ",", :delimiter => ".") %>
    </h1>
    <%= render partial: "shared/patrimony-table", locals: {
      patrimony: @candidate_patrimony
    } %>
  </div>
</div>

